@tailwind base;
@tailwind components;
@tailwind utilities;

.mx-auto {
  margin-inline: auto;
}

.px-5 {
  padding-block: 1.5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.thumbnail {
  width: 40;
  height: 40;
  background: 'red';
  border-radius: 8px;
  overflow: 'hidden';
}
