.album-container {
  --cols: 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: var(--cols);
  gap: 1rem;
}

@media (max-width: 1000px) {
  .album-container {
    --cols: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .album-container {
    --cols: 1fr;
  }
}

.album-item {
  position: relative;
  height: 200px;
}
